---
import type { ComponentProps } from "astro/types";
import { Code } from "astro:components";
import { Icon } from "astro-icon/components";
import dedent from "dedent";

interface Props {
  children: string;
  lang: ComponentProps<typeof Code>["lang"];
  copyButton?: boolean;
  class?: string;
}

const code = dedent((await Astro.slots.render('default')).trim());
---

<div class={`relative ${Astro.props.class}`}>
  <Code
    {code}
    lang={Astro.props.lang}
    class="p-4 rounded-xl"
    theme="poimandres"
  />

  {Astro.props.copyButton && (
    <button
      class="absolute top-0 right-0 text-sm text-white p-2 mt-3 mr-3 rounded-md outline-white/20 outline-2 bg-white/5 hover:bg-white/10"
      onclick={`navigator.clipboard.writeText(${JSON.stringify(code)}); this.setAttribute('data-copied', true); setTimeout(() => this.removeAttribute('data-copied'), 2000);`}
    >
      <Icon name="tabler:copy" class="w-4 h-4 in-[[data-copied]]:hidden" />
      <Icon name="tabler:check" class="w-4 h-4 not-in-[[data-copied]]:hidden" />
    </button>
  )}
</div>
